.classpath
.project
.settings/
hyperic-sigar-1.6.4.zip
target/

#dalvik-subproject
launchers/dalvik/.classpath
launchers/dalvik/.project
launchers/dalvik/.settings/
launchers/dalvik/bin/
launchers/dalvik/gen/
launchers/dalvik/project.properties
launchers/dalvik/target/

#jse-subproject
launchers/jse/.classpath
launchers/jse/.project
launchers/jse/.settings/
launchers/jse/target/
